@charset "utf-8";
/* org-mode より */
  #content { max-width: 60em; margin: auto; }

/*
body {
  margin: 5px;
}
*/

/*
https://coliss.com/articles/build-websites/operation/css/spacing-in-css-margin-and-padding-and-etc.html
「CSSにおけるスペースの与え方、paddingやmarginなどを使った実装テクニックを
詳しく解説 | コリス」> 「CSSのプロジェクトで使用するスペースの実装テクニック」を
参照し，h1, h2, h3, h4 および img タグのスタイル margin を記載しました．
*/
h1, h2, h3, h4 {
    margin: 2.75rem 0 1.05rem;
}

h1, h2 {
    margin-top: 0;
}

img {
    margin-bottom: 0.5rem;
}

/* org-mode より */
  .org-right  { margin-left: auto; margin-right: 0px;  text-align: right; }
  .org-left   { margin-left: 0px;  margin-right: auto; text-align: left; }
  .org-center { margin-left: auto; margin-right: auto; text-align: center; }

/* 要素の下に 5rem のスペースを空けます．必要であれば 0.5rem の padding */
.after_space {
    /* padding: .5rem; */
    margin-bottom: 5rem;
}
/* 最後となる要素の下に 50px のスペースを空けます．必要であれば 0.5rem の padding */
.end_space {
    /* padding: .5rem; */
    margin-bottom: 50px;
}

/* 表（今月・今週の予定） */
table {
  margin: 10px;
  border-top: solid 2pt #797979;
  border-bottom: solid 2pt #797979;
  border-collapse:collapse;     /* org-mode より */
}

/* org-mode より */
caption.t-above {
    caption-side: top;
    padding: 1.5rem .5rem .5rem .5rem;
}
caption.t-bottom {
    caption-side: bottom;
    padding: 1.5rem .5rem .5rem .5rem;
}

td, th { vertical-align:top;  }
th.org-right  { padding: .25rem 1rem; text-align: right;  }
th.org-left   { padding: .25rem 1rem; text-align: left;   }
th.org-center { padding: .25rem 1rem; text-align: center; }
td.org-right  { padding: .25rem 1rem; text-align: right;  }
td.org-left   { padding: .25rem 1rem; text-align: left;   }
td.org-center { padding: .25rem 1rem; text-align: center; }
dt { font-weight: bold; }

th { border-bottom: solid 0.5pt #797979; }      /* org-mode の設定に追記 */

footer {
    /**
       親要素の footer に position: relative を指定し，子要素 address に
       （親要素を基準に，絶対的な位置を指定する）position: absolute を指定します．
    */
    position: relative;
    /* font-size: 90%; */
    width: 100%;
    height: 40px;
    margin-bottom: 0px;
    background: #797979;
}

footer p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 100%;
    color: #ffffff;
    font-style: normal; /* normal 指定しなくても変化はないようです */
    text-align: center; /* 一応 BOX 内の文字も中央寄せ */
}
